/* @import url('https://fonts.googleapis.com/css2?family=Oi&display=swap'); */

@font-face {
    font-family: billabong;
    src: url(../assets/fonts/Billabong/billabong.ttf),
        url(../assets/fonts/Billabong/billabong_regular.otf);
}

:root {
    --cor-preto: #000000;
    --cor-azul: #2686cc;
    --cor-branco: #ffffff;
    --cor-cinza-escuro1: #b6b6b6;
    --cor-cinza-escuro2: #4d4d4d;
    --cor-cinza-escuro3: #7d7d7d;
    --cor-cinza-escuro4: #d1d1d1;
    --cor-cinza-medio: #e5e5e5;
    --cor-cinza-claro: #fafafa;

    --borda: 1px solid var(--cor-cinza-escuro3);
    --borda-arredondada: 2px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: var(--cor-cinza-claro);
}

h1 {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* formulario */
.formulario-botao-azul{
    background-color: var(--cor-azul);
    border-radius: var(--borda-arredondada);
    height: 35px;
    border: none;

    color: var(--cor-branco);
    font-size: var(--tamanho-fonte-sm);
}

.formulario-campos > input{
    border: var(--borda);
    height: 35px;
    width: 258px;
    background-color: var(--cor-cinza-claro);

    color: var(--cor-cinza-escuro2);
    font-size: var(--tamanho-fonte-sm);
    border-radius: var(--borda-arredondada);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-campos > label{
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-cinza-escuro2);
    font-weight: 600;
}
